@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-lg  font-medium hover:bg-blue-600 transition-colors duration-200;
  }
  .btn-secondary {
    @apply bg-gray-200 text-gray-800 px-4 py-2 rounded-lg font-medium hover:bg-gray-300 transition-colors duration-200;
  }
  .btn-danger {
    @apply bg-danger text-white px-4 py-2 rounded-lg font-medium hover:bg-red-600 transition-colors duration-200;
  }
  .input-field {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent;
  }
  .textarea-field {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent resize-none;
  }
  .card{
    @apply bg-white rounded-lg shadow-md p-4;
  }
  .label{
    @apply block text-sm font-medium text-gray-700 mb-2;
  }
}
